
*.cache
*.suo
*.user
*.cachefile
/_ReSharper.TDVS/
/TDVS/TDVS/obj
/TDVS/TDVS/bin
/TDVS/TDVS.Game/bin/
/TDVS/TDVS.Game/obj/
/TDVS/TDVS.Server.Application/bin/
/TDVS/TDVS.Server.Application/obj/
/TDVS/TDVS.Common/bin/
/TDVS/TDVS.Common/obj/
/TDVS/TDVS.Game.Content/obj/
/TDVS/TDVS.Game.Content/bin/
/TDVS/TDVS.Server/obj
/TDVS/TDVS.Server/bin
/TDVS/TDVS.Server.Application/obj
/TDVS/TDVS.Server.Application/bin
/TDVS/TDVS.EntitySystem/bin
/TDVS/TDVS.EntitySystem/obj
/TDVS/TDVS.EntitySystem2/bin
/TDVS/TDVS.EntitySystem2/obj
