
*.suo
/TDVS/TDVS/obj
/TDVS/TDVS/bin
/TDVS/TDVSContent/bin
/TDVS/TDVSContent/obj
/TDVS/TDVS.Game/bin/x86/Debug/Content/Fonts/DefaultMenuFont.xnb
/TDVS/TDVS.Game/bin/x86/Debug/Content/Textures/Cursor.xnb
/TDVS/TDVS.Game/bin/x86/Debug/Content/Textures/HWCursor.png
/TDVS/TDVS.Game/bin/x86/Debug/Content/Textures/blank.xnb
/TDVS/TDVS.Game/bin/x86/Debug/Lidgren.Network.dll
/TDVS/TDVS.Game/bin/x86/Debug/Settings.xml
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Game.application
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Game.exe
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Game.exe.config
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Game.exe.manifest
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Game.pdb
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Server.dll
/TDVS/TDVS.Game/bin/x86/Debug/TDVS.Server.pdb
/TDVS/TDVS.Game/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Game/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/TDVS/TDVS.Game/obj/x86/Debug/ResolveAssemblyReference.cache
/TDVS/TDVS.Game/obj/x86/Debug/TDVS.Game.application
/TDVS/TDVS.Game/obj/x86/Debug/TDVS.Game.csproj.FileListAbsolute.txt
/TDVS/TDVS.Game/obj/x86/Debug/TDVS.Game.exe
/TDVS/TDVS.Game/obj/x86/Debug/TDVS.Game.exe.manifest
/TDVS/TDVS.Game/obj/x86/Debug/TDVS.Game.pdb
/TDVS/TDVS.Game/obj/x86/Debug/cachefile-{387B23EC-80D8-49D1-9A0D-0F2F0DCBCB96}-targetpath.txt
/_ReSharper.TDVS/BuildScriptCache/.crc
/_ReSharper.TDVS/BuildScriptCache/.version
/_ReSharper.TDVS/BuildScriptCache/9/6aeadb7b.dat
/_ReSharper.TDVS/ModuleIds.xml
/_ReSharper.TDVS/NamedArguments/.crc
/_ReSharper.TDVS/NamedArguments/.version
/_ReSharper.TDVS/NamedArguments/0/21a99c6d.dat
/_ReSharper.TDVS/ProjectModel/ProjectModel.dat
/_ReSharper.TDVS/Resources/.crc
/_ReSharper.TDVS/Resources/.version
/_ReSharper.TDVS/SymbolCache.bin
/_ReSharper.TDVS/TagPrefixes/.crc
/_ReSharper.TDVS/TagPrefixes/.version
/_ReSharper.TDVS/TodoCache/.crc
/_ReSharper.TDVS/TodoCache/.version
/_ReSharper.TDVS/TodoCache/2/2df29713.dat
/_ReSharper.TDVS/WebsiteFileReferences/.crc
/_ReSharper.TDVS/WebsiteFileReferences/.version
/_ReSharper.TDVS/WordIndex/.crc
/_ReSharper.TDVS/WordIndex/.version
/_ReSharper.TDVS/WordIndex/0/21a99c6d.dat
/TDVS/TDVS.Server/bin/x86/Debug/.gitignore
/TDVS/TDVS.Server/bin/x86/Debug/Lidgren.Network.dll
/TDVS/TDVS.Server/bin/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Server/bin/x86/Debug/TDVS.Server.dll
/TDVS/TDVS.Server/obj/x86/Debug/.gitignore
/TDVS/TDVS.Server/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Server/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/TDVS/TDVS.Server/obj/x86/Debug/ResolveAssemblyReference.cache
/TDVS/TDVS.Server/obj/x86/Debug/TDVS.Server.csproj.FileListAbsolute.txt
/TDVS/TDVS.Server/obj/x86/Debug/TDVS.Server.dll
/TDVS/TDVS.Server.Application/bin/Debug/Lidgren.Network.dll
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Common.dll
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Common.pdb
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.Application.exe
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.Application.exe.config
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.Application.pdb
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.Application.vshost.exe
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.Application.vshost.exe.config
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.Application.vshost.exe.manifest
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.dll
/TDVS/TDVS.Server.Application/bin/Debug/TDVS.Server.pdb
/TDVS/TDVS.Server.Application/obj/x86/Debug/.gitignore
/TDVS/TDVS.Server.Application/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Server.Application/obj/x86/Debug/ResolveAssemblyReference.cache
/TDVS/TDVS.Server.Application/obj/x86/Debug/TDVS.Server.Application.csproj.FileListAbsolute.txt
/TDVS/TDVS.Server.Application/obj/x86/Debug/TDVS.Server.Application.exe
*.user
/TDVS/TDVS.Common/bin/x86/Debug/Lidgren.Network.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Common/obj/x86/Debug/Common.csproj.FileListAbsolute.txt
/TDVS/TDVS.Common/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Common/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.csproj.FileListAbsolute.txt
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Game.Content/obj/x86/Debug/ContentPipeline.xml
/TDVS/TDVS.Game.Content/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Game.Content/obj/x86/Debug/TDVS.Game.Content.contentproj.FileListAbsolute.txt
/TDVS/TDVS.Common/bin/x86/Debug/Lidgren.Network.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Common/obj/x86/Debug/Common.csproj.FileListAbsolute.txt
/TDVS/TDVS.Common/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Common/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.csproj.FileListAbsolute.txt
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Game.Content/obj/x86/Debug/ContentPipeline.xml
/TDVS/TDVS.Game.Content/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Game.Content/obj/x86/Debug/TDVS.Game.Content.contentproj.FileListAbsolute.txt
/TDVS/TDVS.Common/bin/x86/Debug/Lidgren.Network.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Common/obj/x86/Debug/Common.csproj.FileListAbsolute.txt
/TDVS/TDVS.Common/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TDVS/TDVS.Common/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.csproj.FileListAbsolute.txt
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/obj/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Server/obj
/TDVS/TDVS.Server/bin
/TDVS/TDVS.Server.Application/obj
/TDVS/TDVS.Server.Application/bin