
*.cache
*.suo
*.user
/TDVS/TDVS.Common/bin/x86/Debug/Lidgren.Network.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.dll
/TDVS/TDVS.Common/bin/x86/Debug/TDVS.Common.pdb
/TDVS/TDVS.Common/obj/x86/Debug/Common.csproj.FileListAbsolute.txt
*.cachefile
/_ReSharper.TDVS/
bin/
obj/
TestResults/
